$action-color:  #3af;

md-content{
	padding-top: 30px;
}

.container.ng-scope{
	margin-top: 75px;
}

.hidden{
	display: none !important;
}

.glyphicon{
	margin: 0px 0px 0px 10px;
}

.remove-btn {
    float: right;
}

.list-group.ng-scope {
    margin-bottom: 4px;
}

.btn-action{
	background-color: $action-color;
	color : #fff;
}