<div class='container'>
	<div class="list-group">
		<button type="button" ng-click="newBill($event);" class="btn btn-lg btn-action">
			New Bill
			<span class='glyphicon glyphicon-plus'></span>
		</button>
	</div>
	<div class="list-group" ng-repeat="bill in bills" ng-click="openBill(bill, $event);">
	  <a href="#" class="list-group-item active">
	    <h4 class="list-group-item-heading">{{bill.name}} 
	    	<span class="badge">
	    		{{bill.price| currency:"$"}}
	    	</span>
	    	<button type="button" ng-click="deleteBill($index, $event);" class="btn btn-danger remove-btn btn-primary btn-sm btn-primary">
	    		Delete
	    		<span class='glyphicon glyphicon-remove'></span>
	    	</button>
	    </h4>
	    <p class="list-group-item-text">
	    	{{bill.description}}
	    </p>
	  </a>
	</div>
</div>