doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bundled.css')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
  body(ng-app='BillsApp' ng-controller='AppCtrl')
    block content
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-animate/angular-animate.min.js')
    script(src='/bower_components/angular-aria/angular-aria.min.js')
    script(src='/bower_components/angular-material/angular-material.min.js')
    script(src='/bundled.js')
