doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bundled.css')   
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')   
  body(ng-app='BillsApp' ng-controller='AppCtrl')
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(id="navbar" class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li
              a(href="#")  Home
            li
              a(href="#about") About
            li
              a(href="#contact") Contact
          
    block content
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bundled.js')
